<!doctype html>
<html lang="en">
  <head th:fragment="cabecera">
    <title>Herencia</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="/css/bootstrap.css">

  </head>
  <body>
      
    <h1>Holis</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>hola</th>
                            <th>persona</th>
                            <th>nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat ab, nam id, nemo ex asperiores consequuntur illum iure eveniet repudiandae deserunt minima in a quaerat, quas aut. Assumenda, ex.</p>
                <button type="button" class="btn btn-primary">BOTON</button>
            </div>
        </div>
    </div>





    <!-- Bootstrap JavaScript Libraries -->
    <script th:fragment="scripts" src="/js/bootstrap.bundle.js"></script>
  </body>
</html>