<!DOCTYPE html>
<html lang="en">
<head th:insert="base :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                
                <h1>Formulario de Alta y Modificacion</h1>

                <form th:action="@{/guardar}" th:object="${persona}" 
                        method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nombre" th:field="*{Nombre}">
                        <br>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Apellidos" th:field="*{Apellidos}">
                    <br>
                    </div>
                    <div class="mb-3">
                        <img th:src="${persona.id != 0} 
                                    ? @{/recursos/}+${persona.foto}
                                    : '' " 
                        alt="imagen de la persona">
                        <input type="file" class="form-control" name="file">
                    <br>
                    </div>
                    <div class="mb-3">
                    <label for="pais">Pais: </label>
                    <select class="form-control" name="pais" id="pais">
                        <option value="0"></option>
                        <option th:each="pais : ${paises}" 
                                th:value="${pais.id}" 
                                th:text="${pais.Nombre}"
                                th:selected="${persona.id != null 
                                            ? pais.id == persona.pais.id 
                                            : null}"
                        >
                        </option>
                    </select>
                    <br>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{foto}">
                    <input class="btn btn-success" type="submit">
                </form>
            

            </div>
        </div>
    </div>


    <script th:replace="base :: scripts"></script>
</body>
</html>